.wrapper-form {
  width: 527px;
  padding: 6px;
  background-color: #fff;
  border: 1px solid var(--gray-auth-6);
  border-radius: 40px;
}

.box-from {
  height: 100%;
  border-radius: 34px;
  background: linear-gradient(
    180deg,
    rgba(35, 35, 35, 3%) 0%,
    rgba(35, 35, 35, 0) 50%
  );
  padding: 48px;
}

.wrapper-logo {
  width: 58px;
  height: 58px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid var(--gray-auth-6);
  border-radius: 100px;
}

.box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: linear-gradient(
    0deg,
    rgba(35, 35, 35, 0) 50%,
    rgba(35, 35, 35, 6%) 100%
  );
}
