.filled {
  background-color: var(--purple-auth);
  color: #fff;
  border-color: var(--blue-auth);
  font-size: 14px;

  &:hover {
    background-color: var(--blue-auth);
  }
}

.outline {
  border: 1px solid var(--purple-main);
  background-color: #fff;
  color: var(--purple-auth);

  &:hover {
    background-color: var(--purple-hover-main);
    border: none;
    color: #fff;

    svg {
      stroke: white;
    }
  }
}
